<div class="fixed-bottom">
    <footer class="py-3 my-4 bg-dark">
      <ul class="nav justify-content-center border-white border-4 border-bottom pb-3 mb-3">
        
      </ul>
      <p class="text-center  text-white">© 2021 AGROINDUSTRIAS DIADEMA ZONA FRANCA HONDURAS S.A</p>
      <p class="text-center  text-white">POWER BY ICT</p>
    </footer>
</div>